@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --colour-primary-light: 65, 189, 0;
        --colour-primary: 50, 109, 19;
        --colour-primary-dark: 46, 87, 15;

        --colour-secondary: 245, 213, 137;
        --colour-secondary-light: 255, 247, 209;
    }
}