@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --colour-primary: 48 88 18;
        --colour-primary-light: 148 159 92;
        --colour-background: 240 211 142;
    }
}